<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
    
    <script>
var xhr = new XMLHttpRequest();
    var url = 'http://apis.data.go.kr/1613000/BldRgstService_v2/getBrTitleInfo'; /*URL*/
    var queryParams = '?' + encodeURIComponent('ServiceKey') + '='+'ntyYFElOGfrFOM1zHGh7dOmLBZWZz2oUokZ3goWofR6JqEuhHy1ezJbvwcc1AurEgwoboQgiobaTyFTGe%2BiEww%3D%3D'; /*Service Key*/
    queryParams += '&' + encodeURIComponent('sigunguCd') + '=' + encodeURIComponent('11680'); /**/
    queryParams += '&' + encodeURIComponent('bjdongCd') + '=' + encodeURIComponent('10300'); /**/
    queryParams += '&' + encodeURIComponent('platGbCd') + '=' + encodeURIComponent('0'); /**/
    queryParams += '&' + encodeURIComponent('bun') + '=' + encodeURIComponent('0012'); /**/
    queryParams += '&' + encodeURIComponent('ji') + '=' + encodeURIComponent('0000'); /**/
    queryParams += '&' + encodeURIComponent('startDate') + '=' + encodeURIComponent(''); /**/
    queryParams += '&' + encodeURIComponent('endDate') + '=' + encodeURIComponent(''); /**/
    queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('10'); /**/
    queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1'); /**/
    xhr.open('GET', url + queryParams);
    xhr.onreadystatechange = function () {
        if (this.readyState == 4) {
            alert('Status: '+this.status+'nHeaders: '+JSON.stringify(this.getAllResponseHeaders())+'nBody: '+this.responseText);
        }
    };

    xhr.send('');
    </script>
    
</body>
</html>